body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Microsoft Sans Serif', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 500;
  font-style: normal;
}

section {
  padding: 15px 0;
}

$gray: #ddd;
$green: #59B200;